* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
  padding: 40px 25px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

form:hover {
  width: 360px;
  padding: 35px 20px;
  border-radius: 10px;
  box-shadow: 1px 32px 24px -4px rgba(0, 223, 166, 0.3),
    1px 8px 16px -4px rgba(0, 223, 166, 0.3);
  transition-duration: 1s;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.input-div:hover,
.input-div:focus {
  border-bottom: 2px solid rgba(0, 223, 166, 0.3);
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div > div > h5 {
  text-align: center;
  position: absolute;
  transform: translateY(-50%);
  color: #d9d9d9;
  left: 30px;
  top: 50%;
  font-size: 18px;
}

.input-div > div > input {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 97%;
  border: none;
  background: none;
  outline: none;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: #38d39f;
}

/* a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: #38d39f;
} */

.btn {
  border: none;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  color: #32be8f;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  background: #fff;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  border: none;
  color: #fff;
  background: #32be8f;
}
